@model UserLoginDto;

<!DOCTYPE html>
<html>

<head>
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/js/anime.min.js">
    <link href="~/css/Login.css" rel="stylesheet" type="text/css">
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" type="text/css" />
    <style>
        
        </style>
</head>

<body class="img js-fullheight" style="background-image: url(/img/h.jpg);">
    <div class="col-xs-12">
    <div class="center-block">
    </div>
    <div class="app">
        <div id="desktop-1" class="desktop-1">
            <div id="Loro" class="Loro">
                <img src="~/img/lorotupac/LoginLoro.png" alt="Loro"></img>
            </div>
            <div id="Bille" class="Bille">

                <div id="billetera" class="billetera">
                </div>
                <div id="cierre" class="cierre">

                </div>
                <div id="cierregoogle" class="cierregoogle"></div>
                <form asp-action="LoginPost">
                    <input asp-for="Email" type="text" id="boxusuario" class="boxusuario" placeholder="Usuario" onclick="myMove()"/>
                    <input asp-for="Password" type="password" id="boxcontraseña" class="boxcontraseña" placeholder="Contraseña" onclick="myMove()"/>
                    <button type="submit" class="boton" id="nextB">
                            <i class="bi bi-caret-right" style="color:#FFFFFF ;font-size:xxx-large"></i>
                    </button>
                    </form>
                <a id="¿olvidosucontraseña?" class="olvidosucontraseña" href="../forgotpass">
                    ¿Olvido su contraseña?</a>
                <a id="registrarse" class="registrarse" asp-area="" asp-controller="Home" asp-action="Registro">
                    Registrarse</a>
                <div id="iniciarsesion" class="iniciarsesion">
                    Iniciar sesión</div>
            </div>
        </div>

    </div>
    </div>

</body>
<script src="~/js/script.js"></script>
<script src="~/js/anime.min.js"></script>

</html>