@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<!DOCTYPE html>
<html>

<head>
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="~/js/anime.min.js">
    <link href="~/css/Login.css" rel="stylesheet" type="text/css">
    <style>
        
        </style>
</head>

<body>
    <div class="col-xs-12">
    <div class="center-block">
    </div>>
    <div class="app">
        <div id="desktop-1" class="desktop-1">
            <div id="Loro" class="Loro">
                <img src="~/img/lorotupac/LoginLoro.png" alt="Loro"></img>
            </div>
            <div id="Bille" class="Bille">

                <div id="billetera" class="billetera">
                </div>
                <div id="cierre" class="cierre">

                </div>
                <div id="cierregoogle" class="cierregoogle"></div>
                <form>
                    <input type="text" id="boxusuario" class="boxusuario" placeholder="Usuario" onclick="myMove()"/>
                    <input type="password" id="boxcontraseña" class="boxcontraseña" placeholder="Contraseña" onclick="myMove()"/>
                    <a id="nextB" type="submit" class="boton" value=" " onclick="aHome()" asp-area="" asp-controller="Home" asp-action="Billetera">
                    </a>
                </form>
                <a id="¿olvidosucontraseña?" class="olvidosucontraseña" href="../forgotpass">
                    ¿Olvido su contraseña?</a>
                <a id="registrarse" class="registrarse" href="../SignUp">
                    Registrarse</a>
                <div id="iniciarsesion" class="iniciarsesion">
                    Iniciar sesion</div>
            </div>
        </div>

    </div>
    </div>

</body>
<script src="~/js/script.js"></script>
<script src="~/js/anime.min.js"></script>

</html>