<!doctype html>
<html lang="en">
  <head>
  	<titsrc()n 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="~/css/Registro.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(/img/h.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Nuevo Usuario</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<form action="#" class="signin-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Nombre" required>
		      		</div>
					  <div class="form-group">
		      			<input type="text" class="form-control" placeholder="Apellido" required>
		      		</div>
					  <div class="form-group">
		      			<input type="text" class="form-control" placeholder="Usuario" required>
		      		</div>
					  <div class="form-group">
		      			<input type="text" class="form-control" placeholder="Edad" required>
		      		</div>
					  <div class="form-group">
		      			<input type="text" class="form-control" placeholder="Email" required>
		      		</div>
					 
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Contraseña" required>
	              <span toggle="#password-field" class=""></span>
	            </div>
	           
	         
	          </form>
	         
	          <div class="social d-flex text-center">
	          	<a asp-area="" asp-controller="Home" asp-action="Index" class="form-control btn btn-primary submit px-3"><span class=""></span> Cancelar</a>
	          	<a href="#" class="form-control btn btn-primary submit px-3"><span class=""></span> Registrarse</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	
  <script src="~/js/Registro.js"></script>

	</body>
</html>

