
.wallet {
    position: absolute;
    display: block;
    width: 700px;
    height: 500px;
    background: #a35c08;
    border-radius: 15px;
    box-shadow: 0px 0px 120px #4a4a4a;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    position: absolute;
    display: block;
    z-index: 200;
    width: 73px;
    bottom: 40px;
    left: 33px;
}

/* ----- Departments ----- */

.department {
    position: absolute;
    display: block;
    width: 90%;
    background: #a35c08;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 4px dashed black;
}

#one {
    bottom: 0;
    height: 170px;
    z-index: 100;
}

#two {
    bottom: 50px;
    height: 170px;
    z-index: 50;
}

#three {
    bottom: 100px;
    height: 170px;
    z-index: 0;
}

/* ----- Cards ----- */

.card {
    position: absolute;
    display: block;
    width: 88%;
    height: 230px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 90;
    bottom: 0;
    border-radius: 10px;
}

#visa {
    position: absolute;
    display: block;
    width: 60px;
    top: 12px;
    right: 20px;
}

.chip {
    position: absolute;
    display: block;
    width: 50px;
    height: 40px;
    background: #D9C798;
    border-radius: 5px;
    top: 35px;
    left: 50px;
}

.card h1 {
    display: inline-block;
    font-family: Arial;
    font-weight: 300;
    font-size: 26px;
    color: #FFF;
    width: 100%;
    margin: 85px 0px 0px 50px;
    text-decoration: none;
}

.card h2 {
    display: inline-block;
    font-family: 'Oswald';
    font-weight: 300;
    font-size: 18px;
    color: #FFF;
    margin: 0;
    width: 30%;
    margin: 0px 0px 0px 50px;
}

.card p {
    display: inline-block;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 21px;
    color: #FFF;
    margin: 0;
    width: 40%;
    margin: 15px 0px 8px 50px;
}

#card1 {
    background: #ffc107;
}

#card2 {
    background: #37517e;
    z-index: 40;
}

#card3 {
    background: #ff0707;
    z-index: 0;
}


body {
    background-color: #DAF7A6;
}

#nombre {
    position: absolute;
    display: block;
    z-index: 200;
    width: 75px;
    bottom: 24px;
    left: 130px;
    color:burlywood;
}

#transaccion {
    font-size:22px;
   
}

#salir{
    font-size:32px;
    color:firebrick;
    font-family:sans-serif;
}