<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lorodevplace</title>
    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/remixicon/fonts/remixicon.css" />
   <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.css" />
   <link rel="stylesheet" href="~/lib/glightbox/css/glightbox.css"/>
   <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.css"/>
   
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
   
   

   <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">
</head>

    



   

   

   


<body id="body">

  



<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  

@await RenderSectionAsync("Scripts", required: false)
  <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>
  <script src="~/js/script.js"></script>
  <script src="~/js/"></script>



</body>
</html>